<!-- Isso é uma tag html <head> e <body> são as tags mais importantes, isso que nos introduz as marcações-->
<!-- <head> tem as configurações do documento-->
<!-- <body> tem tudo que visivel na pagina-->    
<!-- Assim que se faz um comentario em html -->
<!--
    HTML

    HyperText
        HiperTexto

    Markup
        Marcação

    Language
        Linguagem
-->

<!DOCTYPE html>
<html lang="pt_br"> <!-- lang é um atributo -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" 
    content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#8257E5">
    <title>Proffy - Sua plataforma de estudos online</title>

    <link rel="shortcut icon" href="/Assets/images/favicon.png" type="image/png">

    <!-- Pode escrito nesse mesmo documento com a <style> tag-->
    <!--
        Uma folha de estilo em cascata
        Cascading
            Cascata
        Style
            Estilo
        Sheet
            Folha
    -->
    <!-- Id seletor mais forte em css depois a força da cascata -->
    <!-- É possivel acessar tags especificas mudando o class atribute e usando um . no começo -->
    <link rel="stylesheet" href="/Styles/main.css"> <!-- é um jeito de acessar o documento de css -->
    <link rel="stylesheet" href="/Styles/partials/page-landing.css">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

</head>
<body id = "page-landing">

    <div id = "container">
        <div class="logo-container">
            <img src="/Assets/images/logo.svg" alt="Proffy">
            <h2>Sua plataforma de estudos online</h2> <!-- essa tag marca titulos vai até h6 -->
        </div> 

        <img class="hero-image" src="/Assets/images/landing.svg" alt="Plataforma de Estudos">

        <!-- <p> essa tag marca paragrafos -->
        <!-- <img src="" alt="Logo"> Essa tag marca uma imagem e tem atributos especificos -->
        <!--<button> Essa tag marca botões -->

        <div class="buttons-container">
            <a class="study" href="/study">
                <img src="/Assets/images/icons/give-classes.svg" alt="Estudar">
                Estudar
            </a>
            <a class="give-classes" href="/give-classes">
                <img src="/Assets/images/icons/study.svg" alt="Dar aulas">
                Dar aulas
            </a>
        </div>

        <p class="total-connections">
            Total de 200 conexões já realizadas
            <img src="/Assets/images/icons/purple-heart.svg" alt="Coração roxo">
        </p>
    </div>

</body>
</html>